#ul {
    list-style-type: none;
    margin: 0%;
    background-color: #F1B9DE;
    font-size: large;
    width: 18%;
    height: 100%;
    position: fixed;
}
#li {
    background-color: #F1B9DE;
    font-size: medium;
    width: 18%;
    display: block;
}
#li #a:hover{
    background-color: #989DE1;
    width: 18%;
    display: block;
}

.nav{
    font-size: medium;
    color: #1F2041;
    font-style: normal;
}

.base {
    background-color: #1F2041;
    margin: 0%;
    overflow: auto;
    width: 100%;
}
.main {
    background-color: #acadd8;
    font-size: 15px;
    float: left;
    width: 60%;
    text-align: left;
    padding: 3%;
}
.sides {
    background-color: #1F2041;
    float:right;
    height:100%;
    width:30%;
}
.cat {
    margin: 0%;
}
ul.dog {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 15%;
    height: 100%;
    background-color: #1F2041;
}
ul.dog li {
    padding: 1em 0em 1em 3em;
}

ul.dog li a {
    color:#F1B9DE;
    text-decoration: none;
    font-size: 2em;
}
.logo {
    width: 15em;
    height: 15em;
}
.boxbox {
    display:inline-block;
    margin:0%;
}