.bod {
    margin: 0%;
    position: relative;
}
.boxbox {
    display: flexbox;
    position: fixed;
    flex-direction: column;
    background-color: #1F2041;
    height: 100%;
    max-width: 20vw;
    min-width: 15%;
    z-index: 1;
    overflow-x: hidden;
}
div.boxbox a{
    position: relative;
    text-decoration: none;
    font-size: 2em;
    color: #F1B9DE;
    padding: 1em 100% 1em 100%;
    margin: 0 -100% 0 -90%;
    display: block;
}
div.boxbox a:hover{
    color: #812e66;
    background-color: aquamarine;
}
.stay {
    display: block;
    padding-left: 3em;
}
.vanish{
    display: none;
    position: absolute;
    padding-left: 3em;
    z-index: 1;
}
.section:hover div.vanish{
    display: block;
    position: relative;
}
div.vanish:hover {
    display: block;
    position: relative;
}